@import url('https://fonts.googleapis.com/css2?family=Tektur:wdth,wght@81.5,467&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.heading{
    font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 467;
  font-style: normal;
  font-variation-settings:
    "wdth" 81.5;
}

.impo{
    font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}